{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <section class="mw5 mw7-ns center pa3 ph5-ns">
    <div class="pa3 bg-white ba b--moon-gray">
      <h2 class="mt0">Login</h2>
      <form method="post" class="lh-copy measure">
        {% csrf_token %}
        {% include 'partials/form-non-field-errors.html' %}
        {% include 'partials/form.html' %}
       <button class="button-reset dib pv2 ph3 ba br3 b--moon-gray bg-light-gray hover-bg-moon-gray pointer" type="submit">Login</button>
      </form>
    </div>
  </section>
{% endblock %}